# Logs
yarn-debug.log*
yarn-error.log*
# Production
.docusaurus
.cache-loader
node_modules
build
# Package Manager
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions